@media all and (max-width: 714px) {
    .authG {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 280px 80px;
        color: $White;

        background-image: url(/recursos/loginandregister/RegisterMobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media all and (max-width: 714px) {
    .authG__auth {
        width: 80%;
    }

    .authG__input {
        width: 55%;
    }

    .authG__checkbox {
        font: size 0.7em;
    }

    .authG__text {
        padding-top: 20px;
    }

    .authG__google {
        width: 100%;
        margin: 10px;
        margin-block-end: 20px;
    }
}

@media all and (max-width: 514px) {
    .authG__auth {
        width: 140%;
        border-radius: 15px;
    }

    .authG__userImg {
        width: 10%;
    }

    .authG__checkbox {
        padding-left: 15px;
        padding-right: 15px;
    }

    .authG__download {
        padding: 10px 50px;
        border-radius: 5px;
    }

    .authG__google {
        width: 200%;
        margin: 0;
        margin-block-end: 20px;
    }
}
