.store {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Bg;

    &__banner {
        width: 100%;
        height: 656px;
    }

    &__container {
        width: 1230px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
