.btn {
    color: $White;
    border-radius: 5px;
    width: 70%;
    font-family: $Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;

    background: $PrimaryColor;

    padding: 20px;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
        background: darken($color: $PrimaryColor, $amount: 10);
    }

    &--1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        padding: 10px;

        background-color: transparent;
        border: 0 transparent;

        &:hover {
            color: $Bg;
        }
    }
}
