@media all and (max-width: 1280px) {
    .news {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 70px 0px;
        background-image: url("../recursos/news/genshinBeach.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .news__flexbox {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

    .news__mainContent1 {
        width: 500px;
    }

    .news__imgNew {
        width: 160px;
        margin-right: 20px;
    }

    .figcaption--big {
        font-size: 0.6em;
        line-height: 24px;
    }

    figcaption {
        width: 100%;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 20px;
    }

    .figcaption--small {
        width: 90%;
        height: 70px;
    }
}

@media all and (max-width: 768px) {
    .news__container {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .news__flexbox {
        width: 70%;
        padding: 10px;
        margin: 0px;
    }

    .news__imgNew {
        width: 160px;
        margin-right: 25px;
        margin-block-end: 15px;
    }
}
