* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

h2 {
    font: size 48px;
    display: flex;
    justify-content: center;
    color: #ffffff;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 72px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row {
    display: flex;
}

/*---------------------------------Navigation bar---------------------------------*/

header {
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;

    z-index: 10;
}

.header--big {
    display: flex;
}

.header--movil {
    display: none;
}

.nav__ol {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__ol select {
    background: transparent;
    border: 0;
    outline: none;
}

.nav__ol select option {
    background: rgba(0, 0, 0, 0.8);
}

.nav__ol a:visited {
    color: white;
}

.nav__item {
    padding: 0px 20px;

    font-family: Roboto Condensed;
    font-size: 1em;
    color: #ffffff;
}
.button--download {
    color: white;
    border-radius: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;

    background: #0183cd;

    padding: 17px;
    border: none;
    outline: none;
}

/*---------------------------------Landing page---------------------------------*/

.landingPage {
    width: 100%;

    background-image: url("../Recursos/landing/landingImage.png");
    background-repeat: no-repeat;
    height: 769px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.landingPage__text {
    color: #ffffff;
    padding: 30px;
    margin-bottom: 50px;

    width: 940px;
    height: 352px;
    background: rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landingPage__text .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
}

.landingPage__text .paragraph {
    width: 70%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;

    margin: 0;
}

.landingPage__button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 0px 0px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.landingPage__image {
    display: flex;

    width: 7%;
}
/*---------------------------------Game presentation section---------------------------------*/
.gameInformation {
    display: flex;
    width: 100%;
    background-color: #fff;
}
.gameInformation__section {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    padding: 0px 30px;
}
.gameInformation__section2 {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: flex-start;
    padding: 150px 30px;
}
.gameInformation__items {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 250px;
}
.gameInformation__subtitles {
    padding: 0px 0px;
    width: 50%;
    color: #121212;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 60px;
}

.gameInformation__descriptions {
    width: 45%;
    padding: 0px 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 25px;

    color: #121212;
}
.gameInformation__button {
    width: 35%;
    height: 60px;
    border-radius: 9px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: center;

    background: #0183cd;
    color: #fff;
    padding: 17px 0px;
    margin-top: 25px;
    border: none;
    outline: none;
}

/*---------------------------------News Section-----------------------------------------*/
.newsSections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 70px 0px;
    background-image: url("../Recursos/news/genshinBeach.png");
    background-repeat: no-repeat;
}

.news__box {
    background-color: rgba(0, 0, 0, 0.62);
    width: 80%;
    border-radius: 20px;
    justify-content: center;
    margin: auto;
}

.news__subtitle {
    width: 100%;
    height: 50px;
    font-size: 2em;
    font-family: Roboto;
    font-weight: lighter;
    justify-content: left;
    padding: 50px;
}

figcaption {
    width: 100%;
    height: 97px;
    position: absolute;
    bottom: 5px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    background: rgb(0 0 0 / 65%);
    color: #fff;
    padding: 20px 10px;
    border-radius: 0 0 10px 10px;
}

.figcaption--big {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news__flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0px 0px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.news__flexbox figure {
    margin: 0px;
    position: relative;
}

.news__flexbox--grid {
    width: 36%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.news__flexboxNew {
    width: fit-content;
    height: fit-content;
    margin: 0px;
    padding: 0px 0px;
    position: relative;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 0.5em;
    line-height: 19px;
}

.news__flexboxNew figure {
    margin: 0px;
}

.news__container {
    display: flex;
    padding-bottom: 100px;
}

/*---------------------------------put your Code Section-----------------------------------------*/
.section__code {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #111111;
    padding: 70px 0px;
}

.section__code__container{
    display: flex;
    background-color: #f3efec;
    width: 70%;
    border-radius: 20px;
    justify-content: center;
    margin: auto;

    z-index: 2;
}

.section__items {

    background-image: url("../Recursos/RedemtionCode/codeimage.png");
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;

}

.section__items  form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section__codeSubTitles {
    margin-top: 50px;
    color: #ffffff;

    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Section__codeSubTitles--black {
    color: #121212;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.font {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #121212;
}
.section__input {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 15px;
    margin-bottom: 45px;

    background: #ffffff;
    border-radius: 7px;
    border: none;
    outline: none;
}
.section__label {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-self: baseline;
    padding: 4px;

    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section__buttonNew {
    width: fit-content;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 21px;

    color: #f4c780;

    background: #111111;
    border-radius: 5px;
    padding: 20px 50px;
    border: none;
    outline: none;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section__instruction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    width: 50%;
    padding: 50px;
}

.img--hutao{
    position: absolute;
    right: 0;
    top: -62px;
    margin: 0;
    width: 31%;
}

/*---------------------------------Footer Section-----------------------------------------*/
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #111111;
    width: 100%;
}
.footer__sectionbar {
    width: 100%;

    background: #999999;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer__image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 0px 10px;
}

.footer__elemts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 0px;
    width: 100;
}

.footer__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 150px 200px;
}
/* .footer__logobar{
    width: 100%;
    height: 2.64px;

    background: #999999;
    transform: matrix(0, 1, 1, 0, 0, 0);
} */
.footer__fond {
    width: 45%;
    padding: 50px 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 27px;

    color: #6c7d7d;
}

.footer__fond--copy {
    color: #f0ffff;
}

.footer__fond--ps5 {
    font-size: 0.9em;
}

.footer__pegi {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 940px;
    width: 100%;

    background: url(image.png);
}

@media screen and (max-width: 414px) {

    .header--big {
        display: none;
    }

    .header--movil {
        display: flex;
    }

}