*{
    box-sizing: border-box;
}

html,

body {
    margin: 0;
}

h2{
    font: size 48px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 72px;
    

}

/*---------------------------------Navigation bar---------------------------------*/

header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;

    z-index: 1;
}

.nav__ol {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__ol select {
    background: transparent;
    border: 0;
    outline: none;
}

.nav__ol select option {
    background: rgba(0, 0, 0, 0.8);
}

.nav__ol a:visited {
    color: white;
}

.nav__item {
    padding: 0px 20px;

    font-family: Roboto Condensed;
    font-size: 1em;
    color: #ffffff;
}

/*---------------------------------Landing page---------------------------------*/

.landingPage {
    width: 100%;

    background-image: url("/Recursos/landing/landingImage.png");
    height: 769px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.landingPage__text {
    color: #ffffff;
    padding: 30px;
    margin-bottom: 50px;

    width: 940px;
    height: 352px;
    background: rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landingPage__text .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin: 0;
}

.landingPage__text .paragraph {
    width: 70%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;

    margin: 0;
}

.landingPage__button {
    display: flex;
    align-items: center;
    padding: 0px 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button--download {
    color: white;
    border-radius: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
     
    background: #0183cd;

    padding: 17px;
    border: none;
    outline: none;
}

/*---------------------------------Game presentation section---------------------------------*/
.gamePresentation {
    width: 100%;
    display: flex;

    background: #ffffff;
}

.gamePresentation__travels {
    width: 100%;
    height: 754.56px;
    display: flex;

}

.secondtitles {
    position: absolute;
    width: 353px;
    height: 120px;
    left: 878px;
    top: 852px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    line-height: 60px;

    color: #121212;
}

.descriptions {
    position: absolute;
    width: 383px;
    height: 104px;
    left: 878px;
    top: 1009px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 25px;

    color: #121212;
}

/*---------------------------------News Section-----------------------------------------*/
.newsSections{
    width: 100%;
    background-image: url("/Recursos/Notice/backgroundNew.png");
}

.news__box{
    display: flex;
    background-color: rgba(0, 0, 0, 0.62);
    width: 80%;
    border-radius: 20px;
    margin: auto;
}

.news__subtitle{
    font-size: 2em;
    font-family: Roboto;
    font-weight: lighter;
    justify-content: left;
    padding: 50px;
    
}

figcaption{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;

    background: rgb(0 0 0 / 65%);
    color: #FFF;
    padding: 40px;
    border-radius: 0 0 20px 28px;
    width: 100%;
}
.news__flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    
}
.news__flexboxNew{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    margin: 40px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 19px;
}
/*---------------------------------Footer Section-----------------------------------------*/
.footer{
    background-color: #111111;
    width: 100%;
    height: 550px;
}

.footer__sectionbar{
    position: absolute;
    width: 100%;
    height: 1.34px;
    top: 4220.88px;
    
    background: #999999;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer__image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.footer__logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 220px;
}

.footer__logobar{
    width: 100%;
    height: 2.64px;
    left: 567px;
    top: 443.65px;
    
    background: #999999;
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.footer__fond{
    position: absolute;
    width: 701px;
    left: 1059px;
    top: 4250px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 27px;
    
    color: #6C7D7D;
}

.footer__fond--copy{
    color: #F0FFFF;
}

.footer__fond--ps5{
    font-size: 0.9em;
}

.footer__pegi{
    position: absolute;
    width: 100%;
    left: 1025px;
    top: 4549px;
    
    background: url(image.png);
}