@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  display: flex;
}

/*---------------------------------Var's---------------------------------*/
/*---------------------------------Import's---------------------------------*/
h2 {
  font: size 48px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  line-height: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  color: #ffffff;
  border-radius: 5px;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  background: #0183cd;
  padding: 20px;
  border: none;
  outline: none;
}
.btn:hover {
  cursor: pointer;
  background: #01639a;
}
.btn--1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding: 10px;
  background-color: transparent;
  border: 0 transparent;
}
.btn--1:hover {
  color: #111111;
}

/*---------------------------------Navigation bar---------------------------------*/
.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  z-index: 10;
}
.header--big {
  display: flex;
}
.header--big__ol {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header--movil {
  display: none;
}

a {
  text-decoration: none !important;
}

.productCard {
  width: 30%;
  height: 412px;
  border-radius: 9px;
  padding: 30px;
  margin-bottom: 30px;
  margin: 20px;
  text-decoration: none;
  color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.productCard__name {
  width: 70%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
}
.productCard__img {
  width: 60%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.productCard__addBtn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.productCard__addBtn:hover {
  cursor: pointer;
}

.product__description {
  text-decoration: none !important;
}

.store {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
}
.store__banner {
  width: 100%;
}
.store__banner img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.store__container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px;
}
.store__filters {
  width: 67%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}
.store__select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.store__select option {
  color: #111111;
}

.authG {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 280px 0px;
  color: #ffffff;
  background-image: url(/recursos/loginandregister/Register.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.authG__auth {
  position: static;
  width: 60%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
}
.authG__userImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 8%;
  padding-top: 70px;
  margin: 0px 0px;
}
.authG__register {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
}
.authG__title {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
}
.authG__input {
  width: 25%;
  color: black;
  border-radius: 7px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  font-size: 14px;
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  border: none;
  outline: none;
}
.authG__checkbox {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  font-size: 13px;
  padding: 0px;
  padding-top: 25px;
  text-align: center;
}
.authG--colorchange {
  color: #0183cd;
}
.authG__text {
  display: flex;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  font-size: 13px;
  margin: 5px;
  color: #ffffff;
}
.authG__download {
  color: white;
  border-radius: 9px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  background: #0183cd;
  margin: 30px;
  padding: 15px 70px;
  border: none;
  outline: none;
}

.authL {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 280px 0px;
  color: #ffffff;
  background-image: url(/recursos/loginandregister/Login.png);
}

.view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-image: url(/recursos/rechargeCristalGenesis/viewProducts/backgroundview1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.view__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 32px;
  margin: 100px;
  align-content: center;
  justify-content: center;
  background-color: white;
}
.view__image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}
.view__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 57px;
  color: #111111;
}
.view__buttonC {
  color: white;
  width: 25%;
  border-radius: 9px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  background: #0183cd;
  margin: 30px;
  padding: 30px 30px;
  border: none;
  outline: none;
}
.view__article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  background-color: #111111;
  border-radius: 32px;
  align-content: flex-end;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.view__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}
.view__buttonD {
  color: white;
  border-radius: 9px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  background: #0183cd;
  margin: 30px;
  padding: 15px 70px;
  border: none;
  outline: none;
}/*# sourceMappingURL=styles.css.map */