* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row {
    display: flex;
}

.clickable {
    cursor: pointer;
}

/* reset */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*---------------------------------Var's---------------------------------*/
$PrimaryColor: #0183cd;
$SecondaryColor: #ffa84e;
$Bg: #111111;
$White: #ffffff;

/*---------------------------------Import's---------------------------------*/

@import "./utils/typo";
@import "./components/btn";
@import "./components/nav";
@import "./components/productCard";
@import "./screens/store";
@import "./screens/login";
@import "./screens/product";
@import "./screens/loginstyle";
